fastapi
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
h11
httpcore
idna
MarkupSafe
python-multipart
uvicorn
pydantic
yfinance
google-generativeai
python-dotenv
requests
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
pymysql
PyJWT
httpx
websockets
jinja2
psycopg2-binary
buzzerboy-saas-tenants
flet
