fastapi
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
h11
httpcore
idna
MarkupSafe
python-multipart
request
uvicorn
pydantic
yfinance
google-generativeai
python-dotenv
requests
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pymysql
PyJWT
httpx
websockets